button {
  min-width: 38px;
  padding: 0px 2px 0px 2px;
  margin: 0px 2px 0px 2px;
}

table {
  margin-top: 16px;
}

.mat-card {
  width: 100%;
  padding: 0px 16px 0px 16px;
}

.mat-form-field {
  width: 100%;
}

.mat-header-cell {
  text-align: center;
}

::ng-deep .mat-bottom-sheet-container {
  max-height: 95vh !important;
}

section {
  margin-bottom: 16px;
}

.step-1-type-select {
  width: 180px;
  height: 180px;
  font-size: 32px;
  margin: 6px 32px;

  .mat-icon {
    width: 76px;
    height: 76px;
  }
  .material-icons {
    font-size: 76px;
  }
}

.step-2-settings {
  text-align: left;
  font-size: 1.2vw;
}

.step-3-execute {
  @extend .step-1-type-select;
  width: 240px;
  height: 180px;
  margin: 6px;
  font-size: 28px;
}

.progress-spinner {
  width: 76px !important;
  height: 76px !important;
  ::ng-deep svg {
    width: 76px !important;
    height: 76px !important;
  }
}

.upload-template-action-btn {
  width: 320px;
  color: white;
}

.manate-templates-wrapper {
  margin-right: 0px;
  margin-left: 0px;
}

.manage-templates-description, .manage-templates {
  mat-card-content {
    padding: 12px;
  }
  margin: 24px auto;
  height: max-content;
}

mat-checkbox {
  margin: 8px 10px;
}
