<div class="container">
  <div class="row text-center">

    <p class="text-danger" *ngIf="!currentProject">
      エラー: プロジェクトを選択してください。
    </p>

    <mat-tab-group mat-align-tabs="center" class="col-12 row text-center" *ngIf="currentProject">
      <mat-tab *ngIf="permissions.generate?.execute">
        <ng-template mat-tab-label>
          <mat-icon class="material-icons md-dark" color="accent">cloud_download</mat-icon>
          生成とダウンロード
        </ng-template>

        <mat-vertical-stepper [linear]="true" #stepper>
          <mat-step [completed]="false">
            <ng-template matStepLabel>種類の選択: {{ order.type }}</ng-template>

            <button mat-raised-button class="step-1-type-select" (click)="onSetGenerateType('zip')">
              ZIP<br>
              <mat-icon class="material-icons md-dark" color="accent">create_new_folder</mat-icon>
            </button>

            <button mat-raised-button type="button" class="step-1-type-select" (click)="onSetGenerateType('excel')">
              EXCEL<br>
              <mat-icon class="material-icons md-dark" color="accent">grid_on</mat-icon>
            </button>
          </mat-step>

          <mat-step [optional]="true">
            <ng-template matStepLabel>設定</ng-template>

            <p *ngIf="!order.type" class="text-danger">
              エラー: 種類が選択されていません。
            </p>
            
            <div class="step-2-settings" *ngIf="order.type === 'zip'">
              <section class="example-section">
                <mat-checkbox class="example-margin" [(ngModel)]="order.by_name">
                  画像のファイル名を分かりやすい名前に変更する
                </mat-checkbox>
              </section>

              <section class="example-section">
                <mat-form-field>
                  <mat-select placeholder="ファイル名の文字コード" [(ngModel)]="order.char_enc" disabled>
                    <mat-option value="shift_jis">Shift-JIS (Windows用)</mat-option>
                    <mat-option value="utf_8">UTF-8</mat-option>
                  </mat-select>
                </mat-form-field>
              </section>

              <section class="example-section">
                <mat-checkbox class="example-margin" [(ngModel)]="order.needs_include_hierarchy" [disabled]="!order.by_name">
                  場所の階層構造を含める
                </mat-checkbox>
              </section>

              <section class="example-section">
                <mat-form-field>
                  <mat-select placeholder="場所の階層構造の表現方法" [(ngModel)]="order.needs_make_dir" [disabled]="!order.needs_include_hierarchy">
                    <mat-option [value]="true">フォルダとして分割</mat-option>
                    <mat-option [value]="false">"_"で連結してファイル名に付与</mat-option>
                  </mat-select>
                </mat-form-field>
              </section>

              <section class="example-section">
                <mat-checkbox class="example-margin" [(ngModel)]="order.needs_all_photos">
                  採用画像だけでなく全ての撮影画像を含める
                </mat-checkbox>
              </section>

              <section class="example-section">
                <mat-checkbox class="example-margin" [(ngModel)]="order.needs_date">
                  ファイル名に撮影日時を付与
                </mat-checkbox>
              </section>

              <section class="example-section">
                <mat-checkbox class="example-margin" [(ngModel)]="order.force_download" disabled>
                  進捗率100%未満であっても強制的にダウンロードする
                </mat-checkbox>
              </section>

              <!--
              <section class="example-section">
                <mat-form-field>
                  <input matInput placeholder="ダウンロード有効期間: デフォルト3分" formControlName="secondCtrl" required>
                </mat-form-field>
              </section>
              -->
            </div>

            <div class="step-2-settings" *ngIf="order.type === 'excel'">
              <section class="example-section">
                <mat-form-field>
                  <mat-select placeholder="テンプレートを選択" [(ngModel)]="selectTemplate">
                    <mat-option *ngFor="let template of templates" [value]="template">{{ template.name }}</mat-option>
                  </mat-select>
                </mat-form-field>
              </section>

              <section class="example-section">
                <mat-form-field>
                  <input matInput placeholder="タイトル" [(ngModel)]="order.title" [disabled]="selectTemplate.property_title === 'False'">
                  <mat-hint>エクセルに差し込まれるタイトルを指定できます (デフォルト: プロジェクト名)</mat-hint>
                </mat-form-field>
              </section>

              <section class="example-section">
                <mat-checkbox class="example-margin" [(ngModel)]="order.needs_print_settings" [disabled]="selectTemplate.property_title === 'False'">
                  印刷時にヘッダーとしてタイトルが表示されるようにする
                </mat-checkbox>
              </section>

              <section class="example-section">
                <mat-checkbox class="example-margin" [(ngModel)]="order.needs_include_hierarchy" [disabled]="selectTemplate.property_hierarchy === 'False'">
                  場所の階層構造を含める(テンプレートでの"{{ '{' }}hierarchy{{ '}' }}"変数指定も必要です)
                </mat-checkbox>
              </section>

              <section class="example-section">
                <!--<mat-checkbox class="example-margin" [(ngModel)]="order.needs_date" [disabled]="order.template !== 'basic_2.xlsx'">-->
                <mat-checkbox class="example-margin" [(ngModel)]="order.needs_date" [disabled]="selectTemplate.property_date === 'False'">
                  ファイル名に撮影日時を付与(テンプレートでの"{{ '{' }}date{{ '}' }}"変数指定も必要です)
                </mat-checkbox>
              </section>
            </div>

            <div>
              <button mat-button matStepperPrevious>戻る</button>
              <button mat-button matStepperNext>次へ</button>
            </div>
          </mat-step>

          <mat-step>
            <ng-template matStepLabel>出力</ng-template>
            <div>
              <button mat-raised-button class="row step-3-execute">
                <p *ngIf="!generatedFile && !isProgress" (click)="onGenerate(order)">
                  {{ order.type === 'zip' ? "ZIP" : "EXCEL"  }}生成を開始<br>
                  <mat-icon class="material-icons md-dark" color="accent" *ngIf="order.type === 'zip'">create_new_folder</mat-icon>
                  <mat-icon class="material-icons md-dark" color="accent" *ngIf="order.type === 'excel'">grid_on</mat-icon>
                </p>
                <p *ngIf="!generatedFile && isProgress" class="col-12">
                  生成中…<br>
                  <mat-icon class="material-icons md-dark" color="accent">
                    <mat-spinner class="progress-spinner"></mat-spinner>
                  </mat-icon>
                </p>
                <p *ngIf="generatedFile" matTooltip="ダウンロードは3分間のみ有効です" [matTooltipPosition]="'above'">
                  <a mat-raseid-button download href="{{ generatedFile.download_url }}" class="button step-3-execute">
                    ダウンロード<br>
                    <mat-icon class="material-icons md-dark" color="accent">cloud_download</mat-icon>
                  </a>
                </p>
              </button>
            </div>

            <div>
              <button mat-button (click)="onPrevious()">戻る</button>
              <button mat-button (click)="onReset()">リセット</button>
            </div>

          </mat-step>
        </mat-vertical-stepper>

      </mat-tab>
      <mat-tab *ngIf="permissions.generate?.manage">
        <ng-template mat-tab-label>
          <mat-icon class="material-icons md-dark" color="accent">archive</mat-icon>
          履歴
        </ng-template>

        <mat-list>
          <h3 mat-subheader>過去1日分の履歴 (60秒毎に自動更新されます)</h3>
          <mat-spinner class="loading-spinner" *ngIf="generatedFiles.length == 0 && isLoading"></mat-spinner>

          <h5 *ngIf="generatedFiles.length == 0 && !isLoading">履歴は存在しません。</h5>
          <mat-list-item *ngFor="let file of generatedFiles">
            <mat-icon mat-list-icon *ngIf="file.type === 'zip'">folder</mat-icon>
            <mat-icon mat-list-icon *ngIf="file.type === 'excel'">grid_on</mat-icon>

            <h4 mat-line>{{ file.name }}</h4>
            <p mat-line> {{ formatDate(file.created_at) }} </p>
            <button mat-icon-button (click)="onReset(); onDownload(file.generated_file_id)" [disabled]="isLoading">
              <mat-icon>cloud_download</mat-icon>
            </button>
            <mat-divider></mat-divider>
          </mat-list-item>
        </mat-list>
      </mat-tab>

      <mat-tab *ngIf="permissions.generate?.manage">
        <ng-template mat-tab-label>
          <mat-icon class="material-icons md-dark" color="accent">create_new_folder</mat-icon>
          テンプレート管理
        </ng-template>

        <mat-card class="manage-templates-description">
          <mat-card-content class="text-center">
            エクセル生成時に指定するテンプレートを管理することができます。<br>
            テンプレートはプロジェクト毎あるいはユーザー毎に5つまで保存することができます。<br>
            それぞれのテンプレートの種類の違いについては<a routerLink="./" (click)="openExplanationImages(0)">こちらの参考画像</a>を参照してください。
          </mat-card-content>
        </mat-card>
      
        <button mat-raised-button color="primary" 
          class="upload-template-action-btn" 
          (click)="openUploadTemplateDialog()" 
          [disabled]="this.projectTemplates.length >= 5 && this.userTemplates.length >= 5">
          テンプレートを追加
        </button>

        <div class="row manate-templates-wrapper">
          <div class="col-12">
            <mat-spinner class="loading-spinner" *ngIf="isLoading"></mat-spinner>
          </div>

          <div class="col-5 manage-templates" *ngIf="!isLoading">
            <h4>プロジェクト</h4>

            <h5 *ngIf="projectTemplates.length == 0 && !isLoading">テンプレートは存在しません。</h5>

            <mat-expansion-panel *ngFor="let template of projectTemplates">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{ template.name }}
                </mat-panel-title>
                <mat-panel-description>
                  {{ template.description }}
                </mat-panel-description>
              </mat-expansion-panel-header>
            
              <mat-checkbox [checked]="template.property_title === 'True'" disabled>タイトル</mat-checkbox>
              <mat-checkbox [checked]="template.property_hierarchy === 'True'" disabled>場所の階層構造</mat-checkbox>
              <mat-checkbox [checked]="template.property_date === 'True'" disabled>撮影日時</mat-checkbox>

              <button mat-raised-button class="btn-block" color="warn" (click)="onDeleteTemplate(template.template_id)">削除</button>
            </mat-expansion-panel>
          </div>

          <div class="col-5 manage-templates" *ngIf="!isLoading">
            <h4>ユーザー</h4>

            <h5 *ngIf="userTemplates.length == 0 && !isLoading">テンプレートは存在しません。</h5>

            <mat-expansion-panel *ngFor="let template of userTemplates">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{ template.name }}
                </mat-panel-title>
                <mat-panel-description>
                  {{ template.description }}
                </mat-panel-description>
              </mat-expansion-panel-header>
            
              <mat-checkbox [checked]="template.property_title === 'True'" disabled>タイトル</mat-checkbox>
              <mat-checkbox [checked]="template.property_hierarchy === 'True'" disabled>場所の階層構造</mat-checkbox>
              <mat-checkbox [checked]="template.property_date === 'True'" disabled>撮影日時</mat-checkbox>

              <button mat-raised-button class="btn-block" color="warn" (click)="onDeleteTemplate(template.template_id)">削除</button>
            </mat-expansion-panel>
          </div>
        </div>

      </mat-tab>
    </mat-tab-group>

  </div>
</div>
