<div class="container">
  <div class="row text-center">

    <p class="text-danger" *ngIf="!currentProject">
      エラー: プロジェクトを選択してください。
    </p>

    <mat-tab-group mat-align-tabs="center" class="col-12 row text-center" *ngIf="currentProject">
      <mat-tab *ngIf="permissions.generate?.execute">
        <ng-template mat-tab-label>
          <mat-icon class="material-icons md-dark" color="accent">cloud_download</mat-icon>
          生成とダウンロード
        </ng-template>

        <mat-vertical-stepper [linear]="true" #stepper>
          <mat-step [completed]="false">
            <ng-template matStepLabel>種類の選択: {{ order.type }}</ng-template>

            <button mat-raised-button class="step-1-type-select" (click)="onSetGenerateType('zip')">
              ZIP<br>
              <mat-icon class="material-icons md-dark" color="accent">create_new_folder</mat-icon>
            </button>

            <button mat-raised-button type="button" class="step-1-type-select" (click)="onSetGenerateType('excel')">
              EXCEL<br>
              <mat-icon class="material-icons md-dark" color="accent">grid_on</mat-icon>
            </button>
          </mat-step>

          <mat-step [optional]="true">
            <ng-template matStepLabel>設定</ng-template>

            <p *ngIf="!order.type" class="text-danger">
              エラー: 種類が選択されていません。
            </p>
            
            <div class="step-2-settings" *ngIf="order.type === 'zip'">
              <section class="example-section">
                <mat-checkbox class="example-margin" [(ngModel)]="order.by_name">
                  画像のファイル名を分かりやすい名前に変更する
                </mat-checkbox>
              </section>

              <section class="example-section">
                <mat-form-field>
                  <mat-select placeholder="ファイル名の文字コード" [(ngModel)]="order.char_enc" disabled>
                    <mat-option value="shift_jis">Shift-JIS (Windows用)</mat-option>
                    <mat-option value="utf_8">UTF-8</mat-option>
                  </mat-select>
                </mat-form-field>
              </section>

              <section class="example-section">
                <mat-checkbox class="example-margin" [(ngModel)]="order.needs_include_hierarchy" [disabled]="!order.by_name">
                  場所の階層構造を含める
                </mat-checkbox>
              </section>

              <section class="example-section">
                <mat-form-field>
                  <mat-select placeholder="場所の階層構造の表現方法" [(ngModel)]="order.needs_make_dir" [disabled]="!order.needs_include_hierarchy">
                    <mat-option [value]="true">フォルダとして分割</mat-option>
                    <mat-option [value]="false">"_"で連結してファイル名に付与</mat-option>
                  </mat-select>
                </mat-form-field>
              </section>

              <section class="example-section">
                <mat-checkbox class="example-margin" disabled>
                  採用画像だけでなく全ての撮影画像を含める
                </mat-checkbox>
              </section>

              <section class="example-section">
                <mat-checkbox class="example-margin" [(ngModel)]="order.force_download" disabled>
                  進捗率100%未満であっても強制的にダウンロードする
                </mat-checkbox>
              </section>

              <!--
              <section class="example-section">
                <mat-form-field>
                  <input matInput placeholder="ダウンロード有効期間: デフォルト3分" formControlName="secondCtrl" required>
                </mat-form-field>
              </section>
              -->
            </div>

            <div class="step-2-settings" *ngIf="order.type === 'excel'">
              <section class="example-section">
                <mat-form-field>
                  <mat-select placeholder="テンプレートを選択" *ngFor="let template of templates" [(ngModel)]="order.template">
                    <mat-option value="{{ template.name }}">{{ template.name }}</mat-option>
                  </mat-select>
                </mat-form-field>
              </section>

              <section class="example-section">
                <mat-checkbox class="example-margin" [(ngModel)]="order.has_hierarchy" disabled>
                  場所の階層構造を含める(テンプレートでの"$hierarchy"変数指定も必要です)
                </mat-checkbox>
              </section>

              <section class="example-section">
                <mat-checkbox class="example-margin" [(ngModel)]="order.force_download" disabled>
                  進捗率100%未満であっても強制的にダウンロードする
                </mat-checkbox>
              </section>
            </div>

            <div>
              <button mat-button matStepperPrevious>戻る</button>
              <button mat-button matStepperNext>次へ</button>
            </div>
          </mat-step>

          <mat-step>
            <ng-template matStepLabel>出力</ng-template>
            <div>
              <button mat-raised-button class="row step-3-execute">
                <p *ngIf="!downloadUrl && !isProgress" (click)="onGenerate(order)">
                  {{ order.type === 'zip' ? "ZIP" : "EXCEL"  }}生成を開始<br>
                  <mat-icon class="material-icons md-dark" color="accent" *ngIf="order.type === 'zip'">create_new_folder</mat-icon>
                  <mat-icon class="material-icons md-dark" color="accent" *ngIf="order.type === 'excel'">grid_on</mat-icon>
                </p>
                <p *ngIf="!downloadUrl && isProgress" class="col-12">
                  生成中…<br>
                  <mat-icon class="material-icons md-dark" color="accent">
                    <mat-spinner class="progress-spinner"></mat-spinner>
                  </mat-icon>
                </p>
                <p *ngIf="downloadUrl" matTooltip="ダウンロードは3分間のみ有効です" [matTooltipPosition]="'above'">
                  <a mat-raseid-button download href="{{ downloadUrl }}" class="button step-3-execute">
                    ダウンロード<br>
                    <mat-icon class="material-icons md-dark" color="accent">cloud_download</mat-icon>
                  </a>
                </p>
              </button>
            </div>

            <div>
              <button mat-button (click)="onPrevious()">戻る</button>
              <button mat-button (click)="onReset()">リセット</button>
            </div>

          </mat-step>
        </mat-vertical-stepper>

      </mat-tab>
      <mat-tab *ngIf="permissions.generate?.manage">
        <ng-template mat-tab-label>
          <mat-icon class="material-icons md-dark" color="accent">settings</mat-icon>
          テンプレート管理
        </ng-template>
        こちらの機能はまだ使用できません。<br>
        お好みのExcelテンプレートをアップロードし、画像の貼り付けを行える機能を提供予定です。
      </mat-tab>
    </mat-tab-group>

  </div>
</div>
