
.change-password, .user-info {
  margin: 16px auto;
  mat-form-field {
    width: 100%;
  }
  @media screen and (max-width:768px) { 
      max-width: 90vw;
  }
  
  @media screen and (min-width:769px) {
      max-width: 70vw;
  }
    
  @media screen and (min-width:1000px) {
      max-width: 60vw;
  }
}

.notification-actions {
  margin-bottom: 24px;
}

.notifications-table {
  padding: 0px;
}

.notification-filter-field {
  width: 100%;
}

table.mat-table {
  width: 100%;
}

.create-date-td {
  padding: 0px 24px;
}

.caution-message {
  font-size: 10px;
  color: red;
}
