button {
  min-width: 46px;
  padding: 0px 2px 0px 2px;
  margin: 0px 4px 0px 4px;
}

.add-action-type {
  width: 15vh;
}

.add-action-name {
  width: 100%;
}

.add-action-submit {
  margin-top: 10px;
  margin-bottom: 10px;
}

.shot-action-type {
  margin-top: 18px;
  margin-bottom: 10px;
  width: 128px;
}

.shot-action-submit {
  margin-top: 18px;
  margin-bottom: 10px;
}

.shot-action-upload {
  margin-top: 18px;
  margin-bottom: 10px;
}

.shot {
  margin: 0px;

  mat-icon {
    vertical-align: middle;
  }

  input {
    display:none;
  }
}

.photo-canvas {
  height: 100%;
}

:host /deep/ .mat-tab-label {
  padding: 0 0px;
  min-width: 10vw;
}

mat-tab-group {
  margin: auto;
  padding: 0px !important;
}

hr {
  margin: 1.5rem 0;
}

.loading {
  margin: 30px auto;
}
