<div class="container">
  <div class="row">
    <div class="col-12 text-center" *ngIf="selectedName">
      <h4> 選択対象: {{ selectedName }} </h4>
    </div>
    
      <mat-tab-group mat-align-tabs="center" class="col-12 row text-center">
        <mat-tab *ngIf="permissions.work.create && isPlace">
          <ng-template mat-tab-label>
            <button mat-raised-button class="mat-elevation-z6">
              <mat-icon class="material-icons md-dark" color="accent">add</mat-icon>
            </button>
          </ng-template>
          <div class="col-12 row add">
            <div class="col-6 col-md-3">
              <mat-form-field class="add-action-type">
                <mat-select placeholder="タイプ" [(ngModel)]="new.type">
                  <mat-option value="place">場所</mat-option>
                  <mat-option value="target">撮影対象</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-6 col-md-6" *ngIf="new.type === 'target' || this.placesService.placeHistory.length < 6">
              <mat-form-field class="add-action-name">
                <input matInput placeholder="名称" [(ngModel)]="new.name">
              </mat-form-field>
            </div>
            <div class="col-12 col-md-3" *ngIf="new.type === 'target' || this.placesService.placeHistory.length < 6">
              <button mat-raised-button class="btn-block mat-elevation-z6 add-action-submit" (click)="onCreate(new.type, new.name, selectedPlace.place_id)">
                作成
              </button>
            </div>
            <div class="col-6 col-md-9 caution" *ngIf="new.type === 'place' && this.placesService.placeHistory.length == 6">
              <p class="text-danger">
                注意: "場所"をこれ以上作成できません。最大5階層までです。
              </p>
            </div>
          </div>
        </mat-tab>
      
        <mat-tab *ngIf="permissions.work.update && !isRootPlace">
          <ng-template mat-tab-label>
            <button mat-raised-button class="mat-elevation-z6">
              <mat-icon class="material-icons md-dark" color="accent">edit</mat-icon>
            </button>
          </ng-template>
          <div class="col-12 row add">
            <div class="col-9 col-md-6">
              <mat-form-field class="update-action-name">
                <input matInput [(ngModel)]="new.name" placeholder="新しい名前を入力">
              </mat-form-field>
            </div>
            <div class="col-3 col-md-3">
              <button mat-raised-button class="btn-block mat-elevation-z6 add-action-submit" (click)="onUpdateName(new.name)">
                編集
              </button>
            </div>
          </div>
        </mat-tab>
      
        <mat-tab *ngIf="permissions.work.delete && !isRootPlace">
          <ng-template mat-tab-label>
            <button mat-raised-button class="mat-elevation-z6">
              <mat-icon class="material-icons md-dark" color="accent">clear</mat-icon>
            </button>
          </ng-template>
          <p class="text-danger">
            本当に削除しますか？削除してしまうと、二度と元に戻すことはできません。
          </p>
          <p class="text-danger" *ngIf="isPlace">
            削除条件: "場所"は配下に何も存在しない状態でなければ削除することはできません。
          </p>
          <button mat-raised-button color="warn" (click)="onDelete()">削除する</button>
        </mat-tab>
      
        <mat-tab *ngIf="permissions.photo.create && isTarget">
          <ng-template mat-tab-label>
            <button mat-raised-button class="mat-elevation-z6">
              <mat-icon class="material-icons md-dark" color="accent">photo_camera</mat-icon>
            </button>
          </ng-template>
      
          <div class="col-12 row shot">
            <div class="col-12 col-md-4">
              <mat-form-field class="shot-action-type">
                <mat-select placeholder="タイプ" [(ngModel)]="photo.type" required>
                  <mat-option value="before">施工前</mat-option>
                  <mat-option value="after">施工後</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-6 col-md-4" *ngIf="selectedTarget['photos'][photo.type].length < 5">
              <input type="file" id="camera-input" capture="camera" accept="image/*" (click)="takenPhoto=''" (change)="onFileSelected($event)" />
              <label for="camera-input" class="btn-block mat-raised-button mat-elevation-z6 mat-basic shot-action-submit">
                <mat-icon class="material-icons md-dark" color="accent">photo_camera</mat-icon>
                撮影
              </label>
            </div>
            <div class="col-6 col-md-4" *ngIf="selectedTarget['photos'][photo.type].length < 5">
              <button mat-raised-button class="btn-block mat-elevation-z6 shot-action-upload" (click)="onUpload()" [disabled]="!takenPhoto || isUploading">
                <mat-icon class="material-icons md-dark" color="accent" *ngIf="!isUploading">cloud_upload</mat-icon>
                <mat-icon *ngIf="isUploading"><mat-spinner class="uploading-spinner"></mat-spinner></mat-icon>
                アップロード
              </button>
            </div>
            <div class="col-12 col-md-8 caution" *ngIf="selectedTarget['photos'][photo.type].length == 5">
              <p class="text-danger">
                5枚以上、写真をアップロードすることはできません。
              </p>
            </div>
            <div class="col-12 text-center photo-canvas">
              <app-photo-canvas *ngIf="takenPhoto" [photoSrc]="takenPhoto" [output]=true (compressed)="onCompressedPhoto($event)" (validatePhoto)="onValidatePhoto($event)"></app-photo-canvas>
            </div>
          </div>
        </mat-tab>

        <mat-tab *ngIf="isTarget && (selectedTarget.photos.before.length || selectedTarget.photos.after.length)">
          <ng-template mat-tab-label>
            <button mat-raised-button class="mat-elevation-z6" (click)="onGetPhoto(selectedPhotoType, 0)">
              <mat-icon class="material-icons md-dark" color="accent">photo_library</mat-icon>
            </button>
          </ng-template>

          <div class="col-12 row shot">
            <div class="col-12 text-center photo-canvas">
              <mat-spinner class="loading-spinner" *ngIf="!neededPhoto"></mat-spinner>
              <app-photo-canvas *ngIf="neededPhoto" [photoSrc]="neededPhoto" [output]=false ></app-photo-canvas>
            </div>

            <div class="col-6">
              <button mat-stroked-button color="accent" 
                  matBadge="{{ selectedTarget.photos.before.length }}" matBadgePosition="before" matBadgeColor="accent" 
                  [disabled]="!selectedTarget.photos.before.length && selectedPhotoType != 'before'"
                  class="btn-block" (click)="selectedPhotoType = 'before'; onGetPhoto(selectedPhotoType, photoIndex)"
                  [ngClass]='{"mat-elevation-z6": selectedPhotoType === "before"}'>
                施工前
              </button>
            </div>
            <div class="col-6">
              <button mat-stroked-button color="accent" 
                  matBadge="{{ selectedTarget.photos.after.length }}" matBadgePosition="before" matBadgeColor="accent" 
                  [disabled]="!selectedTarget.photos.after.length && selectedPhotoType != 'after'"
                  class="btn-block" (click)="selectedPhotoType = 'after'; onGetPhoto(selectedPhotoType, photoIndex)"
                  [ngClass]='{"mat-elevation-z6": selectedPhotoType === "after"}'>
                施工後
              </button>
            </div>

            <hr />

            <div class="col justify-content-start">
              <button mat-raised-button class="mat-elevation-z6" 
                  (click)="onGetBackPhoto()" 
                  [disabled]="isPhotoIndexMin()">
                <mat-icon class="material-icons md-dark" color="accent">chevron_left</mat-icon>
              </button>
            </div>
            <div class="col justify-content-center" *ngIf="permissions.photo.update">
              <button mat-raised-button
                  class="btn-success mat-elevation-z6" (click)="onAdoptPhoto(selectedPhotoType, photoIndex)"
                  [ngClass]='{"mat-elevation-z6": selectedPhotoType === "before"}'
                  *ngIf='selectedTarget["photos"][selectedPhotoType][photoIndex] !== selectedTarget["photos"]["adopt"][selectedPhotoType]'>
                <mat-icon class="material-icons" color="accent">star_border</mat-icon>
              </button>
              <button mat-raised-button
                  class="btn-default" 
                  *ngIf='selectedTarget["photos"][selectedPhotoType][photoIndex] === selectedTarget["photos"]["adopt"][selectedPhotoType]'>
                <mat-icon class="material-icons md-dark" color="accent">star</mat-icon>
              </button>
            </div>
            <div class="col justify-content-center" *ngIf="permissions.photo.delete">
              <button mat-raised-button 
                  class="btn-default mat-elevation-z6" (click)="openConfirmDeleteDialog(selectedPhotoType, photoIndex)"
                  [ngClass]='{"mat-elevation-z6": selectedPhotoType === "after"}'>
                <mat-icon class="material-icons md-dark" color="accent">clear</mat-icon>
              </button>
            </div>
            <div class="col justify-content-end">
              <button mat-raised-button class="mat-elevation-z6" 
                  (click)="onGetNextPhoto()" 
                  [disabled]="isPhotoIndexMax()">
                <mat-icon class="material-icons md-dark" color="accent">chevron_right</mat-icon>
              </button>
            </div>

            <hr />

          </div>

        </mat-tab>
      </mat-tab-group>

  </div>
</div>
