<div class="container">
  <div class="row">
    <div class="col-12 text-center" *ngIf="currentPlace">
      <h4> 選択対象: {{ currentPlace.name }} </h4>
    </div>
    
    <div class="col-12 text-center">
      <button mat-raised-button class="mat-elevation-z6">
        <mat-icon class="material-icons md-dark" color="primary" (click)="onAddActionFlg = true">add</mat-icon>
      </button>
      <button mat-raised-button class="mat-elevation-z6">
        <mat-icon class="material-icons md-dark" color="primary">edit</mat-icon>
      </button>
      <button mat-raised-button class="mat-elevation-z6">
        <mat-icon class="material-icons md-dark" color="primary">clear</mat-icon>
      </button>
      <button mat-raised-button class="mat-elevation-z6">
        <mat-icon class="material-icons md-dark" color="primary">photo_camera</mat-icon>
      </button>
      <button mat-raised-button class="mat-elevation-z6">
        <mat-icon class="material-icons md-dark" color="primary">photo_library</mat-icon>
      </button>
    </div>

    <mat-divider></mat-divider>
    
    <div class="col-12 row" *ngIf="onAddActionFlg">
      <div class="col-3">
        <mat-form-field class="add-action-type">
          <mat-select placeholder="タイプ" [(ngModel)]="new.type">
            <mat-option value="place">場所</mat-option>
            <mat-option value="target">撮影対象</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field class="add-action-name">
          <input matInput placeholder="名称" [(ngModel)]="new.name">
        </mat-form-field>
      </div>
      <div class="col-3">
        <button mat-raised-button class="mat-elevation-z6" (click)="onCreate(new.type, new.name, currentPlace.place_id)">
          作成
        </button>
      </div>
    </div>



  </div>
</div>
