canvas {
  width: 100%;
  height: 100%;
}

.viewCanvas {
  //display: none;
  position: absolute;
  visibility: hidden;
}

img {
  width: 100%;
  margin-bottom: 18px;
}

canvas .compressCanvas{
  display: none;
  width: 0%;
  height: 0%;
}
