.mat-form-field {
  width: 100%;
}

.confirm-form {
  margin-top: 24px;
}

.action-button {
  margin: 0 0 0 auto;
}

.progress-spinner {
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
}
