.username {
  padding-top: 15px;
  padding-right: 50px;
}

.mat-option-box {
  height: 30vh;
}

.mat-option-element {
  height: 3vh;
}

h4 {
  margin: 16px 0px 16px 0px;
}

mat-dialog-content {
  padding: 0 1vh;
}

mat-expansion-panel-header {
  padding: 0 4px;
}

.mat-expansion-panel-body {
  padding: 0 4px 4px;
}

.loading-spinner-container {
  margin: 16px auto;
}

.dummy-space {
  margin-bottom: 180px
}

.loading-spinner {
  margin: auto;
  position: absolute;
  top: 30%;
  bottom: 0;
  right: 0;
  left: 0;
}

