.username {
  padding-top: 15px;
  padding-right: 50px;
}

.mat-option-box {
  height: 30vh;
}

.mat-option-element {
  height: 3vh;
}

h4 {
  margin: 16px 0px 16px 0px;
}

mat-tab-group {
  width: 100%;
}

mat-dialog-content {
  padding: 0 1vh;
}

mat-expansion-panel-header {
  padding: 0 4px;
}

.mat-expansion-panel-body {
  padding: 0 4px 4px;
}

.dummy-space {
  margin: 0px 180px 180px 180px;
}

.loading-spinner {
  margin: 0px auto 0px auto;
  position: absolute;
  top: 30%;
  bottom: 0;
  right: 0;
  left: 0;
}

.display-email {
  padding: 0px;
  text-align: center;
  font-size: 16px;
  @media (max-width: 321px) { 
    font-size: 11.5px;
  }
  @media (min-width: 322px) and (max-width: 400px) { 
    font-size: 13px;
  }
}

.display-project-code {
  background: #ddd;
  font-size: 16px;
  padding: 8px;
  color: black;
  font-weight: bold;
  float: left;
  width: 85%;
  @media (max-width: 321px) { 
    font-size: 11px;
    padding: 2px;
  }
  @media (min-width: 322px) and (max-width: 420px) { 
    font-size: 13px;
  }
}

.material-icons {
  height: 36px;
}

.project-code-copy {
  cursor: pointer;
  font-size: 32px;
  @media (max-width: 321px) { 
    font-size: 24px;
  }
  @media (min-width: 322px) and (max-width: 420px) { 
    font-size: 28px;
  }
}
