<h2 mat-dialog-title>プロジェクト設定</h2>
<mat-dialog-content class="mat-typography">
  <div class="container">
    <div class="row">

    <mat-tab-group>
      <mat-tab label="設定">
        <div class="col-sm-12">
          <mat-form-field>
            <input matInput placeholder="プロジェクト名" required>
          </mat-form-field>
        </div>

        <div class="col-sm-12">
          <mat-form-field>
            <input matInput [matDatepicker]="start" placeholder="開始予定日">
            <mat-datepicker-toggle matSuffix [for]="start"></mat-datepicker-toggle>
            <mat-datepicker #start></mat-datepicker>
          </mat-form-field>
        </div>

        <div class="col-sm-12">
          <mat-form-field>
            <input matInput [matDatepicker]="end" placeholder="終了予定日">
            <mat-datepicker-toggle matSuffix [for]="end"></mat-datepicker-toggle>
            <mat-datepicker #end></mat-datepicker>
          </mat-form-field>
        </div>
      </mat-tab>

      <mat-tab label="ユーザー管理">
        <mat-card>
          プロジェクトコード: {{ currentProject.project_code }}
          <h6 class="mat-small">このプロジェクトへの参加を希望するユーザーに本コードをお伝えください</h6>
        </mat-card>
        <mat-divider [vertical]="true"></mat-divider>
    
        <mat-spinner class="loading-spinner" *ngIf="isLoading"></mat-spinner>

        <div *ngIf="!isLoading">
          <h4>参加中</h4>
          <mat-accordion>
            <mat-expansion-panel *ngFor="let user of joinedUsers">
              <mat-expansion-panel-header class="row">
                <div class="col-7 username">{{ user.username }}</div>

                <mat-form-field class="col-5">
                  <input matInput placeholder="権限" value="オーナー" disabled>
                </mat-form-field>

                <mat-form-field class="col-5" *ngIf="user.role !== 'owner'">
                  <mat-select [(value)]="user.role" placeholder="権限" (selectionChange)="onUpdateRole(user.user_id, user.role)">
                    <mat-option value="owner">オーナー</mat-option>
                    <mat-option value="admin">管理者</mat-option>
                    <mat-option value="worker">ワーカー</mat-option>
                  </mat-select>
                </mat-form-field>
              </mat-expansion-panel-header>

              <div class="row">
                <div class="col-9">
                  メールアドレス:"{{ user.email }}"
                </div>
                <div class="col-3">
                  <button mat-raised-button color="warn" (click)="onDeleteUser(user.user_id)" [disabled]="user.role === 'owner'">強制離脱</button>
                </div>
              </div>
            </mat-expansion-panel>
          </mat-accordion>

          <h4>参加希望</h4>
          <h6 class="small" *ngIf="requestedUsers.length == 0">現在、このプロジェクトへの参加を希望しているユーザーは存在しません。</h6>
          <mat-accordion>
            <mat-expansion-panel *ngFor="let user of requestedUsers">
              <mat-expansion-panel-header>

              <div class="username">{{ user.username }}</div>
              </mat-expansion-panel-header>
              <div class="row">
                <div class="col-12">
                  メールアドレス:"{{ user.email }}"
                </div>
                <div class="offset-6 col-3">
                  <button mat-raised-button color="primary" (click)="onAcceptUser(user.user_id)">許可</button>
                </div>
                <div class="col-3">
                  <button mat-raised-button color="warn" (click)="onRejectUser(user.user_id)">拒否</button>
                </div>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
    
      </mat-tab>
    </mat-tab-group>

    </div>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>キャンセル</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>保存</button>
</mat-dialog-actions>
