<h2 mat-dialog-title>プロジェクト設定</h2>
<mat-dialog-content class="mat-typography">
  <div class="container">
    <div class="row">

    <mat-tab-group class="col-12">
      <mat-tab class="row" label="設定">
        <div class="col-12 project-settings">
          <mat-form-field>
            <input matInput placeholder="プロジェクト名" [(ngModel)]="updateProject.name">
          </mat-form-field>
        </div>

        <div class="col-12 project-settings">
          <mat-form-field>
            <input matInput [matDatepicker]="start" placeholder="開始予定日" value="{{ updateProject.start_on }}" (focus)="start.open()" (dateChange)="onDateChange('start', $event)">
            <mat-datepicker-toggle matSuffix [for]="start"></mat-datepicker-toggle>
            <mat-datepicker #start></mat-datepicker>
          </mat-form-field>
        </div>

        <div class="col-12 project-settings">
          <mat-form-field>
            <input matInput [matDatepicker]="end" placeholder="終了予定日" value="{{ updateProject.complete_on }}" (focus)="end.open()" (dateChange)="onDateChange('complete', $event)">
            <mat-datepicker-toggle matSuffix [for]="end"></mat-datepicker-toggle>
            <mat-datepicker #end></mat-datepicker>
          </mat-form-field>
        </div>

        <div class="col-12">
          <button class="btn-block" mat-raised-button color="primary" (click)="onUpdateProject(updateProject)" [disabled]="isLoading">保存</button>
        </div>

      </mat-tab>

      <mat-tab label="ユーザー管理">
        <mat-card>
          <h6 class="mat-small">このプロジェクトへの参加を希望するユーザーに本コードをお伝えください</h6>
            <div class="display-project-code">
              {{ currentProject.project_code }}
            </div>
            <mat-icon class="material-icons md-dark project-code-copy" (click)="onCopyClipboard(currentProject.project_code)">file_copy</mat-icon>
        </mat-card>
        <mat-divider [vertical]="true" [ngClass]="{ 'dummy-space': isLoading && joinedUsers.length == 0 }"></mat-divider>
    
        <mat-spinner class="loading-spinner" *ngIf="isLoading"></mat-spinner>

        <div *ngIf="joinedUsers.length > 0">
          <h4>参加中のユーザー</h4>
          <mat-accordion>
            <mat-expansion-panel *ngFor="let user of joinedUsers">
              <mat-expansion-panel-header class="row">
                <div class="col-7 username">{{ user.username }}</div>

                <mat-form-field class="col-5" *ngIf="user.role === 'owner'">
                  <input matInput placeholder="権限" value="オーナー" disabled>
                </mat-form-field>

                <mat-form-field class="col-5" *ngIf="user.role !== 'owner'">
                  <mat-select 
                    [(value)]="user.role" placeholder="権限" 
                    (selectionChange)="onUpdateRole(user.user_id, user.role)" 
                    [disabled]="user.user_id === myUserData.username || isLoading"
                  >
                    <mat-option value="admin">管理者</mat-option>
                    <mat-option value="worker">ワーカー</mat-option>
                    <mat-option value="reporter">リポーター</mat-option>
                  </mat-select>
                </mat-form-field>
              </mat-expansion-panel-header>

              <div class="row">
                <p class="col-12 display-email">
                  メールアドレス: {{ user.email }} 
                </p>
                <div class="col-12">
                  <button class="btn-block" mat-raised-button color="warn" (click)="onDeleteUser(user.user_id)" [disabled]="user.role === 'owner' || isLoading">強制離脱</button>
                </div>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
        </div>

        <div *ngIf="requestedUsers.length > 0">
          <h4>現在、参加を希望しているユーザー</h4>
          <mat-accordion>
            <mat-expansion-panel *ngFor="let user of requestedUsers">
              <mat-expansion-panel-header>

              <div class="username">{{ user.username }}</div>
              </mat-expansion-panel-header>
              <div class="row">
                <p class="col-12 display-email">
                  メールアドレス: {{ user.email }} 
                </p>
                <div class="col-6">
                  <button class="btn-block" mat-raised-button color="primary" (click)="onAcceptUser(user.user_id)" [disabled]="isLoading">許可</button>
                </div>
                <div class="col-6">
                  <button class="btn-block"  mat-raised-button color="warn" (click)="onRejectUser(user.user_id)" [disabled]="isLoading">拒否</button>
                </div>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
        </div>

        <div *ngIf="rejectedUsers.length > 0">
          <h4>以前、参加希望を拒否したユーザー</h4>
          <mat-accordion>
            <mat-expansion-panel *ngFor="let user of rejectedUsers">
              <mat-expansion-panel-header>

              <div class="username">{{ user.username }}</div>
              </mat-expansion-panel-header>
              <div class="row">
                <p class="col-12 display-email">
                  メールアドレス: {{ user.email }} 
                </p>
                <div class="col-12">
                  <button class="btn-block" mat-raised-button color="primary" (click)="onAcceptUser(user.user_id)" [disabled]="isLoading">再許可</button>
                </div>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
    
      </mat-tab>
    </mat-tab-group>

    </div>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>キャンセル</button>
</mat-dialog-actions>
