<!-- <div class="login-page" [@routerTransition]> -->
<div class="login-page">

    <div class="row">
        <div class="col-md-12 center">
            <h1 class="heading">harvest</h1>

            <div class="col-sm-4 offset-sm-4 col-md-2 offset-md-5">
              <form role="form">
                  <div class="form-content">
                      <div class="form-group">
                          <input type="text" [(ngModel)]="username" name="username" class="form-control input-underline input-lg" id="username" placeholder="ユーザー名">
                      </div>

                      <div class="form-group">
                          <input type="password" [(ngModel)]="password" name="password" class="form-control input-underline input-lg" id="password" placeholder="パスワード">
                      </div>
                  </div>
                  <a class="btn btn-outline-success" [routerLink]="['/dashboard']"> ログイン </a>
                  <!-- <a class="btn btn-outline-danger" (click)="onLoggedin()"> Login </a> -->
              </form>
              <div *ngIf="errormsg">
                <p class="text-danger">{{ errormsg }}</p>
              </div>
            </div>

        </div>
    </div>
    <div class="mastfoot">
      <div class="inner">
        <p>development by yjfx infra team.</p>
      </div>
    </div>

</div>

