<!-- <div class="login-page" [@routerTransition]> -->

<div class="login-page">

    <div class="row">
        <div class="col-md-12 login-contents mat-elevation-z24">
            <!--<img src="assets/title.png" class="logo-img">-->

              <form role="form">
                  <div class="form-content">
                      <div class="form-group">
                          <input type="text" [(ngModel)]="email" name="email" class="form-control input-underline" id="email" placeholder="メールアドレス">
                      </div>

                      <div class="form-group">
                          <input type="password" [(ngModel)]="password" name="password" class="form-control input-underline" id="password" placeholder="パスワード">
                      </div>
                  </div>
                  <button class="btn btn-outline-success submit-btn" (click)="onLoggedIn(email, password)"> ログイン </button>
                  <!-- <a class="btn btn-outline-danger" (click)="onLoggedin()"> Login </a> -->
              </form>

              <section class="option-check small">
                <mat-checkbox class="small" [(ngModel)]="isSaveEmail">
                  メールアドレスを記憶
                </mat-checkbox>
              </section>

              <div class="error-msg" *ngIf="errorMsg">
                <p class="small text-danger">{{ errorMsg }}</p>
              </div>

              <div class="to-signup">
                <a class="small text-primary" routerLink="/signup">新規登録</a>
              </div>

        </div>
    </div>
    <div class="mastfoot">
      <div class="inner">
        <p>Copyright © 2019 MARUSA TECH All Rights Reserved.</p>
      </div>
    </div>

</div>

