<!-- <div class="login-page" [@routerTransition]> -->
<div class="login-page">

    <div class="row">
        <div class="col-md-12 login-contents mat-elevation-z24">
            <h1 class="heading">harvest</h1>

              <form role="form">
                  <div class="form-content">
                      <div class="form-group">
                          <input type="text" [(ngModel)]="email" name="email" class="form-control input-underline input-lg" id="email" placeholder="メールアドレス">
                      </div>

                      <div class="form-group">
                          <input type="password" [(ngModel)]="password" name="password" class="form-control input-underline input-lg" id="password" placeholder="パスワード">
                      </div>
                  </div>
                  <button class="btn btn-outline-success submit-btn" (click)="onLoggedIn(email, password)"> ログイン </button>
                  <!-- <a class="btn btn-outline-danger" (click)="onLoggedin()"> Login </a> -->
              </form>
              <div *ngIf="errormsg">
                <p class="text-danger">{{ errormsg }}</p>
              </div>

        </div>
    </div>
    <div class="mastfoot">
      <div class="inner">
        <p>Copyright © 2019 MARUSA TECH All Rights Reserved.</p>
      </div>
    </div>

</div>

