@import '~@angular/material/theming';
@include mat-core();
$topnav-background-color: honeydew;

:host {
    display: block;
}
.row {
  height: 100%;
}

.option-check {
  font-size: 1.5vw;
  height: 2vh;
}

input:-internal-autofill-selected {
  background-color: transparent !important;
}

input:-webkit-autofill {
  box-shadow: 0 0 0px 999px #d8e4a5 inset !important;
  -webkit-box-shadow: 0 0 0px 999px #d8e4a5 inset !important;
}

@media screen and (max-width:450px) { 
  .login-contents {
    text-align: center;
    max-width: 60vw;
    max-height: 65vh;
    background: #d8e4a5;
    margin: auto;
    border-radius: 30px;
  }
  .font-control {
    font-size: 2vw;
  }
  .submit-btn {
    margin-bottom: 5px;
    font-size: 2vw;
  }
}

@media screen and (min-width:451px) { 
  .login-contents {
    text-align: center;
    max-width: 40vw;
    max-height: 65vh;
    background: #d8e4a5;
    margin: auto;
    border-radius: 30px;
  }
  .font-control {
    font-size: 2vw;
  }
  .submit-btn {
    margin-bottom: 5px;
    font-size: 2vw;
  }
}

@media screen and (min-width:769px) {
  .login-contents {
    text-align: center;
    max-width: 30vw;
    max-height: 50vh;
    background: #d8e4a5;
    margin: 25vh auto auto;
    border-radius: 30px;
  }
  .font-control {
    font-size: 2vw;
  }
  .submit-btn {
    margin-bottom: 5px;
    font-size: 2vw;
  }
}
  
@media screen and (min-width:1000px) {
  .login-contents {
    text-align: center;
    max-width: 20vw;
    max-height: 45vh;
    background: #d8e4a5;
    margin: 25vh auto auto;
    border-radius: 30px;
  }
  .font-control {
    font-size: 1vw;
  }
  .submit-btn {
    margin-bottom: 5px;
    font-size: 1vw;
  }
}

.login-page {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    //background: #90A4AE;
    background: url("/assets/login.png");
    background-size: contain;
    background-repeat: space;
    background-color: #d8e4a5;
    background-position: center;
    text-align: center;
    color: darkgreen;
    font-weight: bold;
    padding: 2em;
    .col-lg-4{
        padding :0;
    }
    .input-lg {
        height: 46px;
        padding: 10px 16px;
        font-size: 18px;
        line-height: 1.3333333;
        border-radius: 0;
    }
    .input-underline {
        background: #d8e4a5;
        border: none;
        box-shadow: none;
        border-bottom: 2px solid darkgreen;
        color: darkgreen;
        border-radius: 0;
    }
    .input-underline:focus {
        border-bottom: 2px solid darkgreen;
        box-shadow: none;
    }
    .rounded-btn{
        -webkit-border-radius: 50px;
                border-radius: 50px;
        color: rgba(255,255,255,0.8);
        background: $topnav-background-color;
        border: 2px solid rgba(255,255,255,0.8);
        font-size: 18px;
        line-height: 40px;
        padding: 0 25px;
    }
    .rounded-btn:hover,.rounded-btn:focus,.rounded-btn:active,.rounded-btn:visited{
        color: rgba(255,255,255,1);
        border: 2px solid rgba(255,255,255,1);
        outline: none;
    }

    h1 {
        font-weight: 300;
        margin-top: 20px;
        margin-bottom: 10px;
        font-size: 36px;
        small {
            color: rgba(255,255,255,0.7);
        }
    }

    .center {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin-top: 10%;
      margin-bottom: auto;
      margin-right: auto;
      margin-left: auto;
      width: 100%;
      height: 300px;
    }

    .heading {
      font-size: 6vw;
      font-weight: bold;
      line-height: 1.1;
      width: 100%;
      margin: 5px 0px;
      //height: 96px;
    }
  

    .form-group {
        padding: 3px 0;
        margin-bottom: 0rem;
        input::-webkit-input-placeholder {
        color: olivedrab !important;
        }

        input:-moz-placeholder { /* Firefox 18- */
        color: olivedrab !important;
        }

        input::-moz-placeholder {  /* Firefox 19+ */
        color: olivedrab !important;
        }

        input:-ms-input-placeholder {
        color: olivedrab !important;
        }
    }
    .form-content {
        padding: 3px 0;
        color: olivedrab;
    }
    .user-avatar {
        -webkit-border-radius: 50%;
                border-radius: 50%;
        border: 2px solid #FFF;
    }
    .mastfoot {
      color: rgba(255,255,255,.5);
      position: fixed;
      bottom: 0;
      right: 5%;
      font-size: 0.8vw;
    }
}

.logo-img {
  max-width: 80%;
  margin: 12px;
}

.to-signup {
  text-align: right;
  margin: 3px;
}

.error-msg {
  margin-top: 10px;
  margin-bottom: 0px;
  p {
    margin: 3px 0px;
  }
}
