  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="フィルタ">
  </mat-form-field>

  <mat-form-field>
    <mat-select [(value)]="option1" placeholder="ステータス">
      <mat-option value="option1">すべて</mat-option>
      <mat-option value="option2">未完了</mat-option>
      <mat-option value="option3">完了</mat-option>
      <mat-option value="option3">アーカイブ</mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-raised-button color="primary">新規作成</button>
  <button mat-raised-button color="">参加</button>
  
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  
    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.position}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="weight">
      <th mat-header-cell *matHeaderCellDef> Weight </th>
      <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="symbol">
      <th mat-header-cell *matHeaderCellDef> Symbol </th>
      <td mat-cell *matCellDef="let element"> 
        {{element.symbol}}
        <mat-icon class="material-icons md-dark">settings</mat-icon>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>


<mat-tab-group>
  <mat-tab label="全て">

  </mat-tab>

  <mat-tab label="未完了">
  </mat-tab>

  <mat-tab label="進行中">
  </mat-tab>

  <mat-tab label="完了">
  </mat-tab>

  <mat-tab label="アーカイブ">
  </mat-tab>

  <mat-tab label="完了">
    <mat-form-field>
      <input matInput placeholder="プロジェクト名" required>
    </mat-form-field>

    <mat-form-field>
      <input matInput [matDatepicker]="start" placeholder="開始予定日">
      <mat-datepicker-toggle matSuffix [for]="start"></mat-datepicker-toggle>
      <mat-datepicker #start></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <input matInput [matDatepicker]="end" placeholder="終了予定日">
      <mat-datepicker-toggle matSuffix [for]="end"></mat-datepicker-toggle>
      <mat-datepicker #end></mat-datepicker>
    </mat-form-field>

  </mat-tab>

  <mat-tab label="メンバー管理">
    <mat-card>
      プロジェクトコード: xxxx-yyyy-zzzz
      <h6 class="mat-small">このプロジェクトへの参加を希望するユーザーに本コードをお伝えください</h6>
    </mat-card>
    <mat-divider [vertical]="true"></mat-divider>

    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>参加中のメンバー</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-accordion>
          <mat-expansion-panel *ngFor="let user of users">
            <mat-expansion-panel-header>

              ユーザー名:"{{ user.name }}"
              <mat-form-field>
                <mat-select [(value)]="selected" placeholder="権限">
                  <mat-option>
                    <mat-option>None</mat-option>
                    <mat-option value="option1">オーナー</mat-option>
                    <mat-option value="option2">ワーカー</mat-option>
                    <mat-option value="option3">ゲスト</mat-option>
                  </mat-option>
                </mat-select>
              </mat-form-field>

            </mat-expansion-panel-header>
              組織:"{{ user.organization }}"
              <button mat-raised-button color="warn">強制離脱</button>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-card-content>
    </mat-card>

    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>参加希望メンバー</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-accordion>
          <mat-expansion-panel *ngFor="let user of users">
            <mat-expansion-panel-header>
              ユーザー名:"{{ user.name }}"
            </mat-expansion-panel-header>
              組織:"{{ user.organization }}"
              <button mat-raised-button color="primary">許可</button>
              <button mat-raised-button color="warn">拒否</button>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-card-content>
    </mat-card>

  </mat-tab>
</mat-tab-group>

