#mat-tab-group {
  margin-bottom: 10px;
}

mat-card {
  margin-top: 16px;
  margin-bottom: 16px;
}

table {
  width: 100%;
}

button {
  margin: 6px;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.project-action {
  margin-bottom: 18px;
}
