button {
  min-width: 38px;
  padding: 0px 2px 0px 2px;
  margin: 0px 2px 0px 2px;
}

.loading {
  margin: 32px auto;
}

table {
  margin-top: 16px;
}

.mat-card {
  width: 100%;
  padding: 0px 16px 0px 16px;

  ::ng-deep .mat-card-header-text {
    margin: auto;
  }
}

.display-breadcrumb {
  margin: 6px !important;
  padding-left: 6px;
  text-align: left;
  overflow: auto;

  ::ng-deep mat-chip-list .mat-chip-list-wrapper {
    flex-wrap: nowrap !important;
    margin: 0px;
  }
  
  ::ng-deep mat-chip {
    flex-shrink: 0 !important;
  }
}

.init-action {
  margin: 16px 0px;
  button {
    margin: 16px 8px !important;
  }
  h3 {
    margin: 12px;
  }
  .mat-divider {
    position: relative;
    left: unset;
    margin: auto;
    width: 80%;
  }
}

.mat-form-field {
  width: 100%;
}

.mat-header-cell {
  text-align: center;
}

::ng-deep .mat-bottom-sheet-container {
  max-height: 85vh !important;
}

.create-fab {
  position: fixed;
  width: 56px;
  right: 5%;
  bottom: 5%;
  margin-left: -28px;

  mat-icon {
    color: white;
  }
}

.create-fab:hover {
  box-shadow: 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.2);
}

