button {
  min-width: 38px;
  padding: 0px 2px 0px 2px;
  margin: 0px 2px 0px 2px;
}

table {
  margin-top: 16px;
}

.mat-card {
  width: 100%;
  padding: 0px 16px 0px 16px;
}

.mat-form-field {
  width: 100%;
}

.mat-header-cell {
  text-align: center;
}

/deep/ .mat-bottom-sheet-container {
  max-height: 85vh !important;
}

.create-fab {
  position: fixed;
  width: 56px;
  right: 5%;
  bottom: 5%;
  margin-left: -28px;

  mat-icon {
    color: white;
  }
}

.create-fab:hover {
  box-shadow: 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.2);
}
