button {
  min-width: 38px;
  padding: 0px 2px 0px 2px;
  margin: 0px 2px 0px 2px;
}

table {
  margin-top: 16px;
}

.mat-card {
  width: 100%;
  padding: 0px 16px 0px 16px;
}

.mat-form-field {
  width: 100%;
}

.mat-header-cell {
  text-align: center;
}

/deep/ .mat-bottom-sheet-container {
  max-height: 95vh !important;
}

mat-icon {
  color: white;
}

.create-fab {
  position: fixed;
  width: 56px;
  right: 5%;
  bottom: 5%;
  margin-left: -28px;
}
