@import '~@angular/material/theming';
@include mat-core();

.change-password, .user-info, .corporation-data {
  max-width: 90%;
  padding: 0px;
  margin: 18px auto;
  max-width: 90%;

  table, mat-form-field {
    width: 100%;
  }
}

.billing-history {
  width: 100%;
  padding: 0px;
  margin: 0px;

  mat-form-field {
    width: 100%;
  }
}

.spacer {
  flex: 1 1 auto;
}

mat-tab-group {
  margin-top: 32px;
}

mat-icon {
  padding: 0px;
  margin: 0 3px;
  cursor: pointer;
}

.mat-menu-item {
    outline: none
}

.display-billing-info {
  width: 220px;
  height: 160px;
  margin: 32px auto 0px auto;
  padding: 8px;
  text-align: center;

  mat-card-header ::ng-deep .mat-card-header-text {
    margin: 0px auto;
  }

  .mat-card-content {
    margin-top: 8px;
  }

  .user-account-count-value {
    font-size: 48px;
  }

  .biling-price-value {
    font-size: 48px;
  }

  .biling-cycle-value {
    font-size: 26px;
  }
}

.users-action-menu {
  padding: 0px 12px;
  margin: 18px auto;
  max-width: 90%;

  .mat-form-field {
    width: 100%;
  }

}

.action-button {
  min-width: 42px;
  max-width: 42px;
  min-height: 42px;
  max-height: 42px;
  padding: 0px;
  margin: 0px 6px;
}

.loading-spinner {
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 2;
}
