@import '~@angular/material/theming';
@include mat-core();

.change-password, .user-info, .corporation-data {
  margin: 16px auto;
  table, mat-form-field {
    width: 100%;
  }
  @media screen and (max-width:768px) { 
      max-width: 90vw;
  }
  
  @media screen and (min-width:769px) {
      max-width: 70vw;
  }
    
  @media screen and (min-width:1000px) {
      max-width: 60vw;
  }
}

.spacer {
  flex: 1 1 auto;
}

mat-tab-group {
  margin-top: 32px;
}

mat-icon {
  padding: 0px;
  margin: 0 3px;
  cursor: pointer;
}

.mat-menu-item {
    outline: none
}

.display-billing-info {
  width: 220px;
  height: 160px;
  margin-top: 32px;
  padding: 8px;
  text-align: center;

  mat-card-header ::ng-deep .mat-card-header-text {
    margin: 0px auto;
  }

  .mat-card-content {
    margin-top: 8px;
  }

  .user-account-count-value {
    font-size: 48px;
  }

  .biling-price-value {
    font-size: 48px;
  }

  .biling-cycle-value {
    font-size: 26px;
  }
}
