.change-password, .user-info, .corporation-data {
  margin: 16px auto;
  table, mat-form-field {
    width: 100%;
  }
  @media screen and (max-width:768px) { 
      max-width: 90vw;
  }
  
  @media screen and (min-width:769px) {
      max-width: 70vw;
  }
    
  @media screen and (min-width:1000px) {
      max-width: 60vw;
  }
}

.spacer {
  flex: 1 1 auto;
}
mat-icon {
  padding: 0px;
  margin: 0 3px;
  cursor: pointer;
}

.mat-menu-item {
    outline: none
}
