.csv-input {
  margin: 0px;
  padding: 16px 8px;

  mat-icon {
    vertical-align: middle;
  }

  input {
    display:none;
  }
}

.example-csv {
}

.example-error-description {
  max-width: 100%;
}

.mat-tab-group {
  margin: auto;
}

p {
  margin: 0px
}

pre {
  background-color: #e0e0e0;
}

.importing-spinner {
  margin: auto;
}

mat-dialog-actions {
  button {
    margin: 0 0 0 auto;
  }
}

.select-template-type {
  //display: flex;
  //flex-direction: column;
  //margin: 15px 0;
}

.select-template-radio {
  margin: 12px;
}

::ng-deep .mat-tab-header, ::ng-deep .mat-tab-body-wrapper {
  max-width: 100%;
}

.display-explanation-image {
  cursor: pointer;
  color: red;
}
