<h2 mat-dialog-title>テンプレート管理</h2>
<mat-dialog-content class="mat-typography">

    <mat-tab-group mat-align-tabs="center" class="row">
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="material-icons md-dark" color="accent">cloud_download</mat-icon>
          作り方
        </ng-template>
    
        <div class="col-12 description">
            <!--<li><a href="/assets/excel_template.csv" download>テンプレート</a>をお使いください。</li>-->
            <ul>
            	<li>デフォルトテンプレートを下記のリンクからダウンロードすることができます。ご自身でテンプレートを作成する際の参考にしてください。
            		<ul>
            			<li><a href="/assets/templates/basic_1.xlsx">basic_1.xlsx</a></li>
            			<li><a href="/assets/templates/basic_2.xlsx">basic_2.xlsx</a></li>
            		</ul>
            	</li>
            	<li>テンプレートは".xlsx"形式のエクセルファイルのみをサポートします。
            		<ul>
            			<li>Office 2010以降のExcelのみサポートします。</li>
            			<li>その他のOffice互換ソフトウェアで作成されたファイルについてはサポートしません</li>
            		</ul>
            	</li>
            	<li>下記の参考画像のように改ページに必ず1つあるいは2つの"改ページ"を設定してください
            		<ul>
            			<li>自動的にその改ページまでの行をコピーします</li>
            			<li>例えば撮影写真が10枚あれば、10行分コピーされます。</li>
            			<li class="display-explanation-image" (click)="openExplanationImages(0)">参考画像1</li>
            			<li class="display-explanation-image" (click)="openExplanationImages(1)">参考画像2</li>
            			<li class="display-explanation-image" (click)="openExplanationImages(2)">参考画像3</li>
            		</ul>
            	</li>
            	<li>下記の文字列をセル内文字列として入力してください
            		<table class="table table-striped">
              		<thead>
              		  <tr>
              		    <th scope="col">文字列</th>
              		    <th scope="col">埋め込まれる内容</th>
               		    <th scope="col">必須</th>
              		  </tr>
              		</thead>
              		<tbody>
              		  <tr>
              		    <td>{{ '{' }}title {{ '}' }}</td>
              		    <td>生成するときに指定する任意の文字列(デフォルト: プロジェクト名)</td>
              		    <td>x</td>
              		  </tr>
              		  <tr>
              		    <td>{{ '{' }}name{{ '}' }}</td>
              		    <td>場所名や撮影対象名</td>
              		    <td>o</td>
              		  </tr>
              		  <tr>
              		    <td>{{ '{' }}photo{{ '}' }}</td>
              		    <td>写真(セルサイズに自動的にリサイズされる)</td>
              		    <td>o</td>
              		  </tr>
               		  <tr>
              		    <td>{{ '{' }}hierarchy{{ '}' }}</td>
              		    <td>場所の階層構造</td>
              		    <td>x</td>
              		  </tr>
               		  <tr>
              		    <td>{{ '{' }}date{{ '}' }}</td>
              		    <td>写真の撮影日時</td>
              		    <td>x</td>
              		  </tr>
               		  <tr>
              		    <td>{{ '{' }}index{{ '}' }}</td>
              		    <td>通し番号</td>
              		    <td>x</td>
              		  </tr>
              		</tbody>
            		</table>
              </li>
            </ul>
        </div>
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="material-icons md-dark" color="accent">cloud_download</mat-icon>
          アップロード
        </ng-template>
    
        <mat-vertical-stepper [linear]="true" #stepper>
          <mat-step [completed]="true">
            <ng-template matStepLabel>テンプレートの割り当て先を選択</ng-template>

            <mat-radio-group class="select-template-type" [(ngModel)]="newTemplate.template_type" (click)="onNextStep()">
              <mat-radio-button class="select-template-radio" [value]="'project'" [disabled]="projectTemplatesCount >= 5">プロジェクト</mat-radio-button>
              <mat-radio-button class="select-template-radio" [value]="'user'" [disabled]="userTemplatesCount >= 5">ユーザー</mat-radio-button>
            </mat-radio-group>
          </mat-step>

          <mat-step>
            <ng-template matStepLabel>名前・説明を入力</ng-template>
            
            <p *ngIf="!newTemplate.template_type" class="text-danger">
              エラー: 割り当て先が選択されていません
            </p>
            <div class="step-2-settings">
              <section class="example-section">
                <mat-form-field>
                  <input matInput placeholder="テンプレートの名前を入力" [(ngModel)]="newTemplate.name" required>
                </mat-form-field>
              </section>

              <section class="example-section">
                <mat-form-field>
                  <input matInput maxlength="30" placeholder="説明・備考・メモ" [(ngModel)]="newTemplate.description" required>
                  <mat-hint>ご自由に入力ください(30文字以内)</mat-hint>
                </mat-form-field>
              </section>
            </div>

            <div class="text-right">
              <button mat-button matStepperPrevious>戻る</button>
              <button mat-button matStepperNext [disabled]="!newTemplate.name.length || !newTemplate.description.length">次へ</button>
            </div>

          </mat-step>
                
          <mat-step [optional]="true">
            <ng-template matStepLabel>プロパティ設定</ng-template>
            
            <p *ngIf="!newTemplate.template_type" class="text-danger">
              エラー: 割り当て先が選択されていません
            </p>
                
            <div class="step-3-settings">
              <section class="example-section">
                <mat-checkbox class="example-margin" [(ngModel)]="newTemplate.property_title">
                  タイトルを含める(テンプレートでの"{{ '{' }}title{{ '}' }}"変数指定も必要です)
                </mat-checkbox>
              </section>

              <section class="example-section">
                <mat-checkbox class="example-margin" [(ngModel)]="newTemplate.property_hierarchy">
                  場所の階層構造を含める(テンプレートでの"{{ '{' }}hierarchy{{ '}' }}"変数指定も必要です)
                </mat-checkbox>
              </section>

              <section class="example-section">
                <mat-checkbox class="example-margin" [(ngModel)]="newTemplate.property_date">
                  写真の撮影日時を含める(テンプレートでの"{{ '{' }}date{{ '}' }}"変数指定も必要です)
                </mat-checkbox>
              </section>
            </div>

            <div class="text-right">
              <button mat-button matStepperPrevious>戻る</button>
              <button mat-button matStepperNext>次へ</button>
            </div>
          </mat-step>

          <mat-step>
            <ng-template matStepLabel>アップロード</ng-template>
            <div class="col-12 csv-input" *ngIf="!isUploading">
              <input type="file" id="csv-input" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" (change)="onFileSelected($event)" />
              <label for="csv-input" class="btn-block mat-raised-button mat-elevation-z6 mat-basic">
                <mat-icon class="material-icons md-dark" color="accent">cloud_upload</mat-icon>
                アップロード
              </label>
            </div>
            <div class="col-12 text-center" *ngIf="isUploading">
              <h3>実行中...しばらくお待ち下さい</h3>
              <mat-spinner class="uploading-spinner"></mat-spinner>
            </div>
            <div class="col-12 text-center" *ngIf="errMsg">
              <h3 class="text-danger">{{ errMsg }}</h3>
            </div>

            <div class="text-right">
              <button mat-button (click)="onPreviousStep()">戻る</button>
              <button mat-button (click)="onResetStep()">リセット</button>
            </div>

          </mat-step>
        </mat-vertical-stepper>
      </mat-tab>
    </mat-tab-group>
</mat-dialog-content>

<mat-dialog-actions align="sent">
  <button mat-button mat-dialog-close cdkFocusInitial>キャンセル</button>
  <!--<button mat-button mat-raised-button color="warn" (click)="onAccept()">削除する</button>-->
</mat-dialog-actions>
