.container {
  //background-color: #90A4AE;
  background: url("/assets/login.png");
  background-size: contain;
  background-repeat: space;
  background-color: #d8e4a5;
  background-position: center;
  min-width: 100vw;
  min-height: 100vh;
}

input:-webkit-autofill {
  box-shadow: 0 0 0px 999px white inset !important;
  -webkit-box-shadow: 0 0 0px 999px white inset !important;
}

.mat-form-field {
  margin: 6px;
}

/deep/ .mat-card-header-text {
  width: 50%;
}

.mat-card-actions {
  text-align: center;
}

@media screen and (max-width:768px) { 
  .signup-contents {
    max-width: 95vw;
    max-height: 80vh;
    margin: 2.5vh auto;
  }
}

@media screen and (min-width:769px) {
  .signup-contents {
    max-width: 70vw;
    max-height: 80vh;
    margin: 10vh auto;
  }
}
  
@media screen and (min-width:1000px) {
  .signup-contents {
    max-width: 60vw;
    max-height: 80vh;
    margin: 10vh auto;
  }
}

.to-login {
  text-align: right;
  margin: 3px;
  width: 50%;
}
