<div class="container">
  <div class="row">
    <div class="col-12 user-info">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>新規登録</mat-card-title>
        </mat-card-header>

        <mat-card-content>

          <section class="example-section">
            <label>アカウントの種類:　</label>
            <mat-radio-group>
              <mat-radio-button value="auto">個人　</mat-radio-button>
              <mat-radio-button value="always" disabled>法人　</mat-radio-button>
            </mat-radio-group>
          </section>
          <section class="example-section">
            <label>アカウント:　</label>
            <mat-radio-group>
              <mat-radio-button value="auto">スタンダード　</mat-radio-button>
              <mat-radio-button value="always" disabled>ゲスト　</mat-radio-button>
            </mat-radio-group>
          </section>
          <section class="example-section">
            <mat-form-field>
              <input type="email" matInput placeholder="メールアドレス" [(ngModel)]="info.email">
            </mat-form-field>
          </section>
          <section class="example-section">
            <mat-form-field>
              <input type="text" matInput placeholder="姓" [(ngModel)]="info.lastName">
            </mat-form-field>
            <mat-form-field>
              <input type="text" matInput placeholder="名" [(ngModel)]="info.firstName">
            </mat-form-field>
          </section>
          <section class="example-section">
            <mat-form-field>
              <input type="text" matInput placeholder="姓(カナ)" [(ngModel)]="info.kanaLastName">
            </mat-form-field>
            <mat-form-field>
              <input type="text" matInput placeholder="名(カナ)" [(ngModel)]="info.kanaFirstName">
            </mat-form-field>
          </section>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
