<!-- <app-header></app-header> -->

<mat-sidenav-container class="sidenav-container">

  <mat-sidenav #sidenav class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
    <mat-toolbar>harvest</mat-toolbar>
    <mat-nav-list>
      <!--<a mat-list-item routerLink="">
        <i class="material-icons md-dark">home</i> 
        HOME
      </a>-->
      <a mat-list-item routerLink="projects" (click)="sidenav.mode === 'over' && sidenav.toggle()">
        <i class="material-icons md-dark">list_alt</i> 
        PROJECT
      </a>
      <a mat-list-item routerLink="work" (click)="sidenav.mode === 'over' && sidenav.toggle()">
        <i class="material-icons md-dark">photo_camera</i> 
        WORK
      </a>
      <a mat-list-item routerLink="generate" (click)="sidenav.mode === 'over' && sidenav.toggle()" *ngIf="permissions.generate?.execute && !isMobile">
        <i class="material-icons md-dark">photo_album</i> 
        GENERATE
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="sidenav.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>

      <mat-form-field class="select-project" *ngIf="(router.url === '/dashboard/work' || router.url === '/dashboard/generate') && projects">
        <mat-select [(value)]="currentProjectName" placeholder="プロジェクトを選択">
          <!--<mat-option value="None">None</mat-option>-->
          <mat-option value="{{ project.name }}" 
              *ngFor="let project of projects" 
              (click)="select(project)">
            {{ project.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <span class="spacer"></span>

      <mat-icon class="material-icons md-light" [matMenuTriggerFor]="notificationsSummary"
          matBadge="{{ notifications.length || 0 }}" matBadgePosition="before" matBadgeColor="warn" matBadgeSize="small">
        notifications
      </mat-icon>
      <mat-menu #notificationsSummary="matMenu">
        <div *ngFor="let notification of notifications; let i = index" class="notification-message-summary">
          <!--<button mat-menu-item>{{ notification.message }}</button>-->
          <!--<p class="notification-message-summary" mat-menu-item *ngIf="i < 10">-->
            {{ formatDate(notification.created_at) }}  <br>
            {{ notification.message }}
          <!--</p>-->
          <mat-divider></mat-divider>
        </div>
        <a mat-menu-item class="notification-link-button" *ngIf="notifications.length > 0" routerLink="notifications">全ての通知を確認する</a>
        <button mat-menu-item *ngIf="notifications.length == 0">通知は存在しません</button>
      </mat-menu>

      <mat-icon class="material-icons md-light" [matMenuTriggerFor]="menu">account_circle</mat-icon>
      <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="user">ユーザー設定</button>
        <!--<button mat-menu-item routerLink="billing">請求</button>-->
        <button mat-menu-item (click)="onLogout()">ログアウト</button>
      </mat-menu>
    </mat-toolbar>

    <!-- Add Content Here -->
      <section class="main-container">
        <router-outlet></router-outlet>
      </section>
  </mat-sidenav-content>

</mat-sidenav-container>
