<!-- <app-header></app-header> -->

<mat-sidenav-container class="sidenav-container">

  <mat-sidenav #sidenav class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
    <mat-toolbar>harvest</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="">
        <i class="material-icons md-dark">home</i> 
        HOME
      </a>
      <a mat-list-item routerLink="projects" (click)="sidenav.mode === 'over' && sidenav.toggle()">
        <i class="material-icons md-dark">list_alt</i> 
        PROJECT
      </a>
      <a mat-list-item routerLink="work" (click)="sidenav.mode === 'over' && sidenav.toggle()">
        <i class="material-icons md-dark">photo_camera</i> 
        WORK
      </a>
      <a mat-list-item routerLink="generate" (click)="sidenav.mode === 'over' && sidenav.toggle()">
        <i class="material-icons md-dark">photo_album</i> 
        GENERATE
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="sidenav.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>

      <mat-form-field *ngIf="router.url !== '/dashboard/projects'">
        <mat-select [(value)]="selected" placeholder="プロジェクトを選択">
          <!--<mat-option value="None">None</mat-option>-->
          <mat-option value="{{ project.name }}" 
              *ngFor="let project of projectsService.joinedProjects" 
              (click)="projectsService.select(project)">
            {{ project.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <span class="spacer"></span>
      <mat-icon class="material-icons md-light">payment</mat-icon>
      <mat-icon class="material-icons md-light">notifications</mat-icon>
      <mat-icon class="material-icons md-light">account_circle</mat-icon>
    </mat-toolbar>

    <!-- Add Content Here -->
      <section class="main-container">
        <router-outlet></router-outlet>
      </section>
  </mat-sidenav-content>

</mat-sidenav-container>
