.main-container{
    margin-top: 5px;
    //margin-left: 60px;
    padding: 15px;
    -ms-overflow-x: hidden;
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
    overflow: hidden;

}
@media screen and (max-width: 992px) {
    .main-container {
        margin-left: 0px !important;
    }
}

@media (max-width: 599px) {
  .mat-toolbar-row, .mat-toolbar-single-row {
      height: 64px;
  }
}

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

mat-form-field {
  width: 300px;
  font-size: 18px;
}

.spacer {
  flex: 1 1 auto;
}
mat-icon {
  padding: 0 7px;
  cursor: pointer;
}

.mat-menu-item {
    outline: none
}

.select-project {
  padding-top: 14px;
}

/*
.material-icons.md-light {
  color: rgba(255, 255, 255, 1);
}
*/
